@model Project.Models.TruckGoodsModel

@{
    ViewData["Title"] = "Order Details Form";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Order Details</h2>
    <form asp-action="Create" id="truckGoodsForm" asp-controller="GateOperatorDashboard" enctype="multipart/form-data" method="post" class="needs-validation">

        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="VehicleNo"></label>
                <input asp-for="VehicleNo" text" class="form-control" id="VehicleNo" name="VehicleNo" placeholder="Enter Vehicle Number" required>
                <span asp-validation-for="VehicleNo" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="Unit" class="form-label"></label>
                <select class="form-select" id="Unit" name="Unit" asp-for="Unit" required>
                    <option value="" selected disabled>Choose Unit</option>
                    <option value="Cans">Cans</option>
                    <option value="Drums">Drums</option>
                    <option value="Bottles">Bottles</option>
                </select>
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="Quantity" class="form-label"></label>
                <input type="number" class="form-control" id="Quantity" asp-for="Quantity" name="Quantity" placeholder="Enter Quantity" required>
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="InvoiceNo" class="form-label"></label>
                <input type="text" class="form-control" id="InvoiceNo" name="InvoiceNo" asp-for="InvoiceNo" placeholder="Enter Invoice Number" required>
                <span asp-validation-for="InvoiceNo" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="Amount" class="form-label"></label>
                <input asp-for="Amount" type="number" class="form-control" id="Amount" name="Amount" placeholder="Enter Amount" required>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="SupplierName" class="form-label"></label>
                <input type="text" class="form-control" id="SupplierName" asp-for="SupplierName" name="SupplierName" placeholder="Enter Supplier Name" required>
                <span asp-validation-for="SupplierName" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label asp-for="SupplierLocation" class="form-label"></label>
                <input type="text" class="form-control" id="SupplierLocation" name="SupplierLocation" asp-for="SupplierLocation" placeholder="Enter Supplier Location" required>
                <span asp-validation-for="SupplierLocation" class="text-danger"></span>
            </div>

            <div class="col-md-4 mb-3">
                <label asp-for="Type" class="form-label"></label>
                <select class="form-select" id="Type" asp-for="Type" name="Type" required>
                    <option value="" selected disabled>Choose Inward Type</option>
                    <option value="Domestic">Domestic</option>
                    <option value="International">International</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </div>


        <div class="row">


            <div class="col-md-6 mb-3">
                <label asp-for="Remarks" class="form-label"></label>
                <textarea class="form-control" id="Remarks" asp-for="Remarks" name="Remarks" rows="3" placeholder="Enter Remarks"></textarea>
            </div>
        </div>

        <div class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <textarea class="form-control" id="Description" name="Description" asp-for="Description" rows="3" placeholder="Enter Description of Goods" required></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div id="documentSection">
            <h3>Documents</h3>

            @if(Model.Documents.Count > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Document Name</th>
                            <th>Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var doc in Model.Documents)
                        {
                            <tr>
                                <td>@doc.DocNum</td>
                                <td>@doc.DocType</td>
                                <td>
                                    <a href="@Url.Content(doc.DocumentPath)" download class="btn btn-primary">Download</a>




                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="mb-4">
                    No Documents Found

                </div>
            }
         
        </div>
    </form>
    @if (Model.ApprovalStatus == ApprovalStatus.Approved)
    {
        <div class="form-group mt-3 mb-3 row-cols-10">
            <a asp-controller="QR" asp-action="Generate" asp-route-content="@Model.SerialNo.ToString()" id="QRbtn" class="btn btn-success">Generate QR Code</a>
        </div>

        <div id="qrCodeDisplay" style="display:none;">
            <h3>QR Code:</h3>
            <img id="qrCodeImage" src="" alt="QR Code">
        </div>
    }

    
  
</div>

<script>

    document.querySelector('#QRbtn').addEventListener('click', function (event) {
    event.preventDefault();
    var url = this.href;

        fetch(url)
            .then(response => response.json())
            .then(data => {
                document.getElementById('qrCodeDisplay').style.display = 'block';
                document.getElementById('qrCodeImage').src = 'data:image/png;base64,' + data.qrCodeBase64;
                var successMessage = '@TempData["SuccessMessage"]';
                    if (successMessage) {
                        var toastElement = new bootstrap.Toast(document.getElementById('toastMessage'));
                        toastElement.show();
                    }
            })
        .catch(error => console.error('Error:', error));
});



    document.getElementById('Type').addEventListener('change', function () {
        const button = document.getElementById('submit');
        if (this.value === 'International') {
            button.textContent = 'Proceed for Customs Inspection';
        } else {
            button.textContent = 'Generate QR Code';
        }
    });

    // window.onload = function () {
    //     var successMessage = '@TempData["SuccessMessage"]';
    //     if (successMessage) {
    //         var toastElement = new bootstrap.Toast(document.getElementById('toastMessage'));
    //         toastElement.show();
    //     }
    //     document.getElementById('truckGoodsForm').reset();
    // };

</script>
@section Scripts {
    @{
            <partial name="_ValidationScriptsPartial" />
    }



}